input {
  height: 30px;
  margin: 10px 0px;
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(131, 131, 131, 0.273);
  background-color: rgb(232, 250, 255);
  color: black;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

input:focus {
  background-color: #fff;
}

input:hover {
  border-color:rgba(118, 118, 118, 0.664);
}

input:focus-visible {
  border-color:rgba(118, 118, 118, 0.664);
  outline: none;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
}